{

  "presets": [["@babel/preset-env", { "modules": false }]],
  "env": {
    "test": {
      "retainLines": true,
      "sourceMaps": "inline",
      "presets": [["@babel/preset-env"]],
    },
  },
}